/////////////////////////  Splash 1 Image
//  from:  http://www.tophomephoto.com/wallpapers/capitol-rotunda-floor-5389.html

#splash1.splash-wrap { // just background stuff
	background-image: url(/sections/hp/splash1/images/hp-rotunda-looking-down.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/////////////////////////  Splash 2 Image
//  from:  http://www.tophomephoto.com/wallpapers/capitol-rotunda-floor-5389.html

#splash2.splash-wrap { // just background.  This might be overqualified for production enviro, so check once final layout is approved
	background-image: url(/sections/hp/splash2/images/capitol-rotunda-floor-6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/////////////////////////  Splash 4 Image
//  from:  http://www.tophomephoto.com/wallpapers/capitol-rotunda-floor-5389.html

#splash4.splash-wrap { // just background stuff
	background-image: url(/sections/hp/splash4/images/prez.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.fullheight {
	height: 100%;
}

.project-preview-box {
	width: 25%;
	height: 25%;
	float: left;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/////////////////////////  Scenario  Image
//  from:  http://www.tophomephoto.com/wallpapers/capitol-rotunda-floor-5389.html

#scenario1.splash-wrap { // just background stuff
	background: url(/sections/hp/scenario1/images/capitol-rotunda-floor-9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.trans-cover-white {
	content: "";
	background: rgba(255,255,255,.7);
	height: 100%;
	width: auto;
	z-index: 10000;
}

#scenario1 h1 {
	@media screen and (min-width: 320px) {
		font-size: 24px;
	}
	@media screen and (min-width: 480px) {
		font-size: 32px;
	}
}

.splash-wrap { // sizing stuff
	position: relative;
	height: 400px;
}

.splash-box {
	@media screen and (min-width: 320px) {

	margin-top: 0px;
	padding: 20px;
}
	@media screen and (min-width: 768px) {
	margin-top: 30px;
		
	}
	@media screen and (min-width: 1200px) {
		margin-top: 70px;
	}
}

#splash-center-top { // center positioning
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash-center { // positioning
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash-center { // look and feel
	color: white;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,.5);
	padding: 10px 20px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

//#splash-left { // calc centering on left positioning.  This works on desktop, but fails on responsive
//	position: absolute;
//	top: 50%;
//	left: 50%;
//	transform: translate(-100%, -50%);
//}

.text-on-dark { // look and feel
	color: white;
	a {
		color: #eee;
	}
}

.tall-text {
	line-height: 1.6;
}

.btn-midas {
	background: @base;
	color: white;
	padding: 10px 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	.transition();
	&:hover, &:focus {
		background: @darken1;
		color: white;
		.transition ;
	}
	&:active {
		color: #eee;
	}
}

/////////////////////////////////  SOCIAL ICONS

.inline-block-center {
  text-align: center;
  @media screen and (min-width: 980px) {
  	height: 400px;
  	padding-top: 80px;
  }
}

.hero-wrapper {
	text-align: center;
	display: inline-block;
	@media screen and (min-width: 320px) {
		width: 25%;
	}

	@media screen and (min-width: 600px) {
		width: 33%;
	}
	@media screen and (min-width: 992px) {
		width: 25%;
	}
	
	

	.hero-widget{
		position: relative;
		margin: 0 auto;
		text-align: center; 
		padding-top: 20px; 
		padding-bottom: 20px;
		
		&.well {
			background-color: transparent;
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
	.icon { 
		display: block; 
		margin-bottom: 10px; 
		text-align: center; 
		@media screen and (min-width: 320px) {
			font-size: 60px; 
			line-height: 60px; 
		}
		@media screen and (min-width: 992px) {
			font-size: 96px; 
			line-height: 96px; 
		}
	}
	var { 
		display: block; 
		font-style: normal; 
		clear: both;
		@media screen and (min-width: 320px){
			font-size:14px;
			line-height: 14px;
			height: 32px;	
		}
		@media screen and (min-width: 992px){
			font-size:18px;
			line-height: 18px;	
			height: 40px;
		}
	}
}



.hero-widget label { font-weight: 200; }
.hero-widget .options { margin-top: 10px; }

.well {
	@media screen and (min-width: 320px){
		padding: 10px;
	}
	@media screen and (min-width: 992px){
		padding: 19px;
	}

}