/////////////////////////  Splash Image
//  from:  http://www.tophomephoto.com/wallpapers/capitol-rotunda-floor-5389.html

#splash { // just background stuff
	background-image: url(/sections/hp/images/capitol-rotunda-floor-6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#splash { // sizing stuff
	height: 400px;
}